/*
 * Reports
 */

.deprecations__file,
.markers__file,
.errors__file {
    margin-bottom: 1.25em;
}

.deprecations__file--header,
.markers__file--header,
.errors__file--header {
    border-bottom: 1px solid silver;
    margin-bottom: 1em;
}

/*
 * Class, package, and namespace listings
 */

.namespace__functions,
.namespace__constants,
.namespace__traits,
.namespace__interfaces,
.namespace__classes,
.package__functions,
.package__constants,
.package__traits,
.package__interfaces,
.package__classes {
    padding-left: 1.25em;
    border-left: 1px dashed #f0f0f0;
}

.element,
.element__node {
    border-left: .75em solid #e0e0e0;
    border-radius: 5px;
    padding: .5em;
    margin-bottom: 1em;
}

.element__details {
    font-weight: bold;
    text-align: center;
    color: gray;
    border-top: 1px dashed silver;
    display: block;
    margin-top: 5px;
    padding: 5px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.element__details:hover {
    background: #f0f0f0;
    color: #444;
    text-decoration: none;
}

.element__node code {
    margin-right: .75em;
}

.node--visibility-public {
    border-left-color: #55A72F;
}

.node--visibility-protected {
    border-left-color: orange;
}

.node--visibility-private {
    border-left-color: red;
}

.element__header,
.node__header {
    font-size: 1.2em;
    border-bottom: 1px dashed #e0e0e0;
    padding-left: .25em;
}

.node--visibility-public .node__header {
    border-bottom-color: #55A72F;
}

.node--visibility-protected .node__header {
    border-bottom-color: orange;
}

.node--visibility-private .node__header {
    border-bottom-color: red;
}

.node__subheader {
    font-size: 1.2em;
    border-bottom: 1px dashed #e0e0e0;
}

.node--visibility-public .node__subheader {
    border-bottom-color: #55A72F;
}

.node--visibility-protected .node__subheader {
    border-bottom-color: orange;
}

.node--visibility-private .node__subheader {
    border-bottom-color: red;
}

.method__arguments {
    margin-left: .75em;
}

/*
 * Sidebar
 */

.visibility .btn,
.type-filter .btn {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
}

/* JS only functionality; disable by default */
.btn-group.visibility, .btn-group.type-filter {
    display: none;
}

ul.side-nav {
    clear: both;
}

ul.side-nav ul {
    text-transform: none;
}

ul.side-nav li {
    word-wrap: break-word;
    padding-left: 10px;
    text-indent: -5px;
}

ul.side-nav li a {
    background: transparent no-repeat 5px 3px;
    padding-bottom: 0;
}

ul.side-nav li pre {
    border: none;
    word-wrap: break-word;
    text-indent: 0;
    padding-bottom: 0;
    padding-left: 5px;
}

/*
 * Misc styles
 */

#search-query {
    height: auto;
}

.dropdown-menu a {
    overflow: hidden;
    text-overflow: ellipsis;
}

pre code {
    border: none;
}

@media (min-width: 768px) {
    :target:before {
        display: block;
        content: " ";
        margin-top: -90px;
        height: 90px;
        visibility: hidden;
    }
}
