.namespace-indent, .package-indent {
    padding-left: 10px;
    border-left: 1px dashed #f0f0f0;
}

.deprecations__file,
.markers__file {
    margin-bottom: 1.25em;
}

.deprecations__file--header,
.markers__file--header {
    border-bottom: 1px solid silver;
    margin-bottom: 1em;
}

.element h3, .package-indent h3, .namespace-contents h3, .package-contents h3 {
    font-size: 1.75em;
    margin-top: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid silver;
}

.element h3 i, .package-indent h3 i, .namespace-contents h3 i, .package-contents h3 i {
    margin-top: 2px;
    margin-right: 5px;
}

.element h3:first-of-type, .package-indent h3:first-of-type, .namespace-contents h3:first-of-type, .package-contents h3:first-of-type {
    margin-top: 30px;
}

.element h2 {
    font-family: inherit;
    font-size: 1.2em;
    font-weight: normal;
    color: black;
    border-bottom: 1px dashed #55A72F;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-left: 5px;
}

.element h2:first-of-type {
    margin-top: 0;
}

.element .type {
    font-weight: bold;
}

#search-query {
    height: auto;
}

.dropdown-menu a {
    overflow: hidden;
    text-overflow: ellipsis;
}

div.element {
    border-left: 10px solid #55A72F;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 15px;
    margin-left: 0;
}

div.element.protected {
    border-left-color: orange;
}

div.element.private {
    border-left-color: red;
}

div.element.class, div.element.interface, div.element.trait {
    border-left-color: #e0e0e0;
}

div.element .item_name {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: .75em;
    line-height: 1.5em;
}

div.element .item_name a {
    color: transparent;
    margin-left: 10px;
}

div.element .item_name:hover a {
    color: silver;
}

div.element .item_name a:hover {
    color: navy;
}

div.element a.more:hover {
    background: #f0f0f0;
    color: #444;
    text-decoration: none;
}

div.element a.more {
    font-weight: bold;
    text-align: center;
    color: gray;
    border-top: 1px dashed silver;
    display: block;
    margin-top: 5px;
    padding: 5px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.element .table th {
    text-transform: capitalize;
}

div.detail-description {
    padding-left: 30px;
}

div.detail-description table th {
    vertical-align: top;
}

body.invert {
    background: white;
}

body.invert div.element {
    background: #f9f9f9;
}

ul.side-nav {
    clear: both;
}

ul.side-nav ul {
    text-transform: none;
}

ul.side-nav li {
    word-wrap: break-word;
    padding-left: 10px;
    text-indent: -5px;
}

ul.side-nav li a {
    background: transparent no-repeat 5px 3px;
    padding-bottom: 0;
}

ul.side-nav li pre {
    border: none;
    word-wrap: break-word;
    text-indent: 0;
    padding-bottom: 0;
    padding-left: 5px;
}

/* JS only functionality; disable by default */
.btn-group.visibility, .btn-group.view, .btn-group.type-filter {
    display: none;
}

span.empty-namespace {
    color: silver;
}

#mapHolder {
    border: 4px solid #555;
    padding: 0 !important;
    overflow: hidden
}

div.element div.subelement {
    margin-left: 10px;
    padding-bottom: 5px;
    clear: both;
}

pre code {
    border: none;
}

div.element div.subelement > code, div.element div.detail-description > p > code {
    float: left;
    margin-right: 10px;
    padding: 0 5px;
    line-height: 16px;
}

div.element div.subelement h4 {
    color: #666;
    margin-bottom: 5px;
}

div.element div.subelement.response {
    padding-bottom: 15px;
    margin-right: 50px;
}

div.labels {
    text-align: right;
}

.detail-description > p {
    margin-left: 10px;
}

.detail-description code {
    white-space: pre;
    display: inline-block;
    margin-right: 10px;
}

.visibility .btn {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
}

@media (min-width: 768px) {
    :target:before {
        display: block;
        content: " ";
        margin-top: -90px;
        height: 90px;
        visibility: hidden;
    }
}
