.namespace-indent, .package-indent {
    padding-left: 10px;
    border-left: 1px dashed #f0f0f0;
}

.deprecations__file,
.markers__file,
.errors__file {
    margin-bottom: 1.25em;
}

.deprecations__file--header,
.markers__file--header,
.errors__file--header {
    border-bottom: 1px solid silver;
    margin-bottom: 1em;
}

.element,
.element__node {
    border-left: .75em solid #e0e0e0;
    border-radius: 5px;
    padding: .5em;
    margin-bottom: 1em;
}

.element__node code {
    margin-right: .75em;
}

.node--visibility-public {
    border-left-color: #55A72F;
}

.node--visibility-protected {
    border-left-color: orange;
}

.node--visibility-private {
    border-left-color: red;
}

.node__header {
    font-size: 1.2em;
    border-bottom: 1px dashed #e0e0e0;
    padding-left: .25em;
}

.node--visibility-public .node__header {
    border-bottom-color: #55A72F;
}

.node--visibility-protected .node__header {
    border-bottom-color: orange;
}

.node--visibility-private .node__header {
    border-bottom-color: red;
}

.node__subheader {
    font-size: 1.2em;
    border-bottom: 1px dashed #e0e0e0;
}

.node--visibility-public .node__subheader {
    border-bottom-color: #55A72F;
}

.node--visibility-protected .node__subheader {
    border-bottom-color: orange;
}

.node--visibility-private .node__subheader {
    border-bottom-color: red;
}

.method__arguments {
    margin-left: .75em;
}

.package-indent h3, .namespace-contents h3, .package-contents h3 {
    font-size: 1.75em;
    margin-top: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid silver;
}

.package-indent h3 i, .namespace-contents h3 i, .package-contents h3 i {
    margin-top: 2px;
    margin-right: 5px;
}

.package-indent h3:first-of-type, .namespace-contents h3:first-of-type, .package-contents h3:first-of-type {
    margin-top: 30px;
}

#search-query {
    height: auto;
}

.dropdown-menu a {
    overflow: hidden;
    text-overflow: ellipsis;
}

div.element .item_name {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: .75em;
    line-height: 1.5em;
}

div.element .item_name a {
    color: transparent;
    margin-left: 10px;
}

div.element .item_name:hover a {
    color: silver;
}

div.element .item_name a:hover {
    color: navy;
}

div.element a.more:hover {
    background: #f0f0f0;
    color: #444;
    text-decoration: none;
}

div.element a.more {
    font-weight: bold;
    text-align: center;
    color: gray;
    border-top: 1px dashed silver;
    display: block;
    margin-top: 5px;
    padding: 5px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.side-nav {
    clear: both;
}

ul.side-nav ul {
    text-transform: none;
}

ul.side-nav li {
    word-wrap: break-word;
    padding-left: 10px;
    text-indent: -5px;
}

ul.side-nav li a {
    background: transparent no-repeat 5px 3px;
    padding-bottom: 0;
}

ul.side-nav li pre {
    border: none;
    word-wrap: break-word;
    text-indent: 0;
    padding-bottom: 0;
    padding-left: 5px;
}

/* JS only functionality; disable by default */
.btn-group.visibility, .btn-group.type-filter {
    display: none;
}

span.empty-namespace {
    color: silver;
}

#mapHolder {
    border: 4px solid #555;
    padding: 0 !important;
    overflow: hidden
}

pre code {
    border: none;
}

div.element div.subelement.response {
    padding-bottom: 15px;
    margin-right: 50px;
}

.visibility .btn,
.type-filter .btn {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
}

@media (min-width: 768px) {
    :target:before {
        display: block;
        content: " ";
        margin-top: -90px;
        height: 90px;
        visibility: hidden;
    }
}
