.element .span4
{
    width: 275px;
}

.namespace-contents hr, .package-contents hr
{
    border-top: 3px dotted silver;
}

.namespace-indent, .package-indent
{
    padding-left: 10px; border-left: 1px dashed #f0f0f0;
}

.element h3 i, .namespace-contents h3 i, .package-contents h3 i
{
    margin-top: 2px;
    margin-right: 5px;
}

.element h3, .namespace-contents h3, .package-contents h3
{
    margin-top: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid silver;
}

.element h3:first-of-type, .namespace-contents h3:first-of-type,
.package-contents h3:first-of-type
{
    margin-top: 30px;
}

.element h2
{
    font-family: inherit;
    font-size: 1.2em;
    color: black;
}

.element .type
{
    font-weight: bold;
}

#search-query
{
    height: auto;
}

.dropdown-menu a{
    overflow: hidden;
    text-overflow: ellipsis;
}
h2
{
    border-bottom:  1px dashed #55A72F;
    margin-bottom:  10px;
    padding-bottom: 0;
    padding-left:   5px;
    color:          #e9e9e9;
    font-weight:    normal;
    margin-top:     40px;
}

h2:first-of-type
{
    margin-top: 0;
}

.namespace-contents h2, .package-contents h2
{
    padding-left: 44px;
    background: transparent url('../images/icons/icon-th-big.png') no-repeat 3px center;
}

.package-contents h2
{
    background-image: url('../images/icons/folder.gif');
}

.namespace-contents .element h2, .package-contents .element h2
{
    padding-left: 0;
    background: none;
}

div.element
{
    border-left:    10px solid #55A72F;
    border-radius:  5px;
    padding:        7px 7px 2px 7px;
    margin-bottom:  15px;
    margin-left:    0;
}

div.element.protected
{
    border-left-color: orange;
}

div.element.private
{
    border-left-color: red;
}

div.element.class, div.element.interface, div.element.trait
{
    border-left-color: #e0e0e0;
}

div.element.class.abstract h1, div.element.interface.abstract h1, div.element.trait.abstract h1
{
    font-style: italic;
}

div.element h1
{
    font-size:     1.2em;
    line-height:   1.5em;
    margin-bottom: 10px;
    background:    transparent no-repeat left 2px;
    word-wrap:     break-word;
}

div.element h1 a
{
    color: transparent;
    margin-left: 10px;
}

div.element h1:hover a
{
    color: silver;
}

div.element h1 a:hover
{
    color: navy;
}

div.element a.more:hover
{
    background: #f0f0f0;
    color:      #444;
    text-decoration: none;
}

div.element a.more
{
    font-weight: bold;
    text-align: center;
    color:      gray;
    border-top: 1px dashed silver;
    display:    block;
    margin-top: 5px;
    padding:    5px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.element p
{
    font-size:     0.9em;
}

div.element .table
{
    font-size: 0.9em;
}

div.element .table th
{
    text-transform: capitalize;
}

div.detail-description
{
    padding-left: 30px;
}

div.detail-description table th {
    vertical-align: top;
}

body.invert
{
    background: white;
}

body.invert div.element
{
    background: #f9f9f9;
}

ul.side-nav
{
    clear: both;
}

ul.side-nav ul
{
	text-transform: none;
}

ul.side-nav li
{
    word-wrap: break-word;
    padding-left: 10px;
    text-indent: -5px;
}

ul.side-nav li a
{
    background:     transparent no-repeat 5px 3px;
    padding-bottom: 10px;
}

ul.side-nav li pre
{
    font-size:        0.8em;
    margin:           5px 15px 0 15px;
    padding:          2px 5px;
    background-color: #f8f8f8;
    color:            gray;
    font-style:       normal;
    word-wrap:        break-word;
    text-indent:      0;
}

ul.side-nav li.view-simple span.description
{
    display: none;
}

ul.side-nav li.view-simple pre
{
    font-size:        inherit;
    margin:           inherit;
    padding:          inherit;
    background-color: inherit;
    border:           none;
    color:            inherit;
    font-family:      inherit;
    font-style:       inherit;
    padding-bottom:   0;
    padding-left:     5px;
}

ul.side-nav li.view-simple a
{
    padding-bottom: 0px;
}

.icon-custom
{
    width: 16px;
    height: 16px;
    background-position: 0;
}

.table.markers
{
    background: white;
}

/* JS only functionality; disable by default */
.btn-group.visibility, .btn-group.view, .btn-group.type-filter
{
    display: none;
}

.visibility button
{
    height: 24px;
}

.icon-constant  { background-image: url('../images/icons/constant.png'); }

.icon-function  { background-image: url('../images/icons/function.png'); }

.icon-method    { background-image: url('../images/icons/method.png'); }

.icon-class     { background-image: url('../images/icons/class.png'); }

.icon-interface { background-image: url('../images/icons/interface.png'); }

.icon-trait { background-image: url('../images/icons/trait.png'); }

.icon-property  { background-image: url('../images/icons/property.png'); }

.icon-show-public    { background-image: url('../images/icons/visibility_public.png'); }
.icon-show-protected { background-image: url('../images/icons/visibility_protected.png'); }
.icon-show-private   { background-image: url('../images/icons/visibility_private.png'); }

span.empty-namespace
{
    color: silver;
}

footer
{
    text-align: right;
    font-size: 0.8em;
    opacity: 0.5;
}

#mapHolder
{
    border:   4px solid #555;
    padding:  0 !important;
    overflow: hidden
}

div.element div.subelement
{
    margin-left:    10px;
    padding-bottom: 5px;
    clear: both;
}

pre code
{
    border: none;
}

div.element div.subelement > code, div.element div.detail-description > p > code
{
    float:        left;
    margin-right: 10px;
    padding:      0 5px;
    line-height:  16px;
}

div.element div.subelement h4
{
    color:         #666;
    margin-bottom: 5px;
}

div.element div.subelement.response
{
    padding-bottom: 15px;
    margin-right:   50px;
}

div.labels
{
    text-align: right;
}

.detail-description > p
{
    margin-left: 10px;
}

.detail-description code
{
    white-space:  pre;
    display:      inline-block;
    margin-right: 10px;
}

.visibility .btn
{
    text-transform: uppercase;
    font-size:      9px;
    font-weight:    bold;
}
